@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-layout {
  @apply xxs:flex xxs:flex-col xxs:items-center xxs:justify-center xs:flex xs:flex-col xs:items-center xs:justify-center sm:flex sm:flex-col sm:items-center sm:justify-center md:flex md:flex-row md:items-start md:justify-start
}

/* Cacher la scrollbar (Chrome, Edge, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Cacher la scrollbar (Firefox) */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
